#
# Monitor glider's dialog via SFMC API and send positions to ARCTERX
#
# Nov-2024, Pat Welch, pat@mousebrains.com

[Unit]
Description=Harvest Slocum glider positions from SFMC

[Service]
Type=simple
User=pat
WorkingDirectory=/home/pat/SFMC_harvest_OSU
#
ExecStart=/home/pat/SFMC_harvest_OSU/monitor.py \
	--logfile=/home/pat/logs/SFMC_harvest_OSU.log \
	--mailTo="pat@mousebrains.com" \
	--mailSubject="SFMC Harvest OSU" \
	--verbose \
	--hostname=/home/pat/Sync/Shore/SFMC \
	--tempDirectory=/home/pat/.cache \
	osu684 \
	osu685

RestartSec=60
Restart=always
        
[Install]
WantedBy=multi-user.target
